.holidayNomineeForm {
	display: flex;
	flex-direction: column;
	.formRow {
		min-height: 5vh;
		height: max-content;
		label {
			// margin: auto;
			min-width: 100%;
			min-height: 5vh;
		}
		.nomineeImgBtn{
			border:none;
			.uploadNomineeImg{
				border:none;
				height:20px;
				width:auto;
			}
		}

		input {
			margin: 1%;
			font-family: "brandon-grotesque";
			// background: $darkPurple;
			border: none;
			margin-left: auto;
			margin-right: 0;
			width: 100%;
		}
		input[type="file"] {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}

		.inputfile + label {
			font-size: 1.25em;
			font-weight: 700;
			color: $offWhite;
			background-color: $darkPurple;
			padding: 0.5% 5%;
			height: 10vh;
			min-width: 100%;
			transition: 0.5s ease;
			outline: 1px dotted #000;
			outline: -webkit-focus-ring-color auto 5px;
		}

		.inputfile:focus + label,
		.inputfile + label:hover {
			background-color: lighten($darkPurple, 10%);
		}
		textarea {
			border: none;
			margin: 1%;
			font-family: "brandon-grotesque";
			// background: $darkPurple;
			border: none;
			margin-left: auto;
			margin-right: 0;
			width: 100%;
		}
	}
	.sectionSplit {
		margin: 5% auto;
	}
}

.submitBtn {
	max-width: max-content;
	margin: 0 auto;
	button {
		font-family: "brandon-grotesque";
		border: none;
		background-color: $darkPurple;
		color: $offWhite;
		height: 4vh;
		transition: 0.5s ease;
		width: 10vw;
	}
	button:hover {
		background-color: lighten($darkPurple, 10%);
	}
}


.page.holiday {
	.pageHeader {
		margin: auto;
	}
	.pageBody {
		display: flex;
		flex-direction: row;
		.card {
			margin: 5% auto;
			max-width: 35vw;
			height: max-content;
			.cardBody {
				height: 45%;
				width: 85%;
				line-height: 1.2rem;
				font-size: 1.2rem;
				margin: 5% auto 0;
			}
			.cardAction {
				width: 20vw;
				margin: 4% auto 5%;
				.breakLine {
					margin: 4% auto;
					width: max-content;
				}
			}
		}
	}
}