.button {
	height: 2.5vh;
	width: 18vw;
	background-color: $offWhite;
	color: $darkPurple;
	padding: 2% 5%;
	cursor: pointer;
	.buttonText {
		max-width: max-content;
		font-size: 1.2rem;
		text-transform: uppercase;
		margin: auto;
		font-weight: 700;
	}
}

.navMenuBtn {
	display: block;
	position: fixed;
	right: 100px;
	top: 20px;
	opacity: 0;
	z-index:999;
	transition: 0.5s ease;
	width:2.5vw;

}

.navIcon{
	width:2.5vw;
}

.navMenuBtn.navBtnActive {
	opacity: 1;
}
