.card {
	background-color: $darkPurple;
	padding: 2%;
	width: max-content;
	margin: 5% auto;
	border-radius: .5rem;
	color: $offWhite;
	.cardText {
		font-size: 1.2rem;
		line-height: 1.5rem;
		text-align: center;
		margin: 4% 0;
	}
	.subtitleText {
		text-align: center;
		font-size: 0.9rem;
	}
	.emphasisText {
		font-weight: 700;
		font-size: 1.3rem;
	}
	.cardAction {
		max-width: fit-content;
		margin: 5% auto;
	}
}
.lightCard{
	background:$offWhite;
	color:$darkPurple;
}


.cardImg {
	width: auto;
	height: 500px;
}
