.menuItem {
	background-color: $darkPurple;
	color: $offWhite;
	flex: 1;
	height: 10vh;
    width: 30vw;
    margin: 0 2%;
	.itemText {
		max-height: 4vh;
		max-width: max-content;
        margin: auto;
        margin-top:12%;
		text-align: center;
	}
	::selection {
		color: none;
		background: none;
	}
	/* For Mozilla Firefox */
	::-moz-selection {
		color: none;
		background: none;
	}
}
