@import url("https://use.typekit.net/xra4nry.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input:focus,
textarea:focus,
select:focus {
  outline: none; }

html {
  font-family: "brandon-grotesque";
  overflow-x: hidden; }

.card {
  background-color: #110f17;
  padding: 2%;
  width: max-content;
  margin: 5% auto;
  border-radius: 0.5rem;
  color: #efe5db; }
  .card .cardText {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    margin: 4% 0; }
  .card .subtitleText {
    text-align: center;
    font-size: 0.9rem; }
  .card .emphasisText {
    font-weight: 700;
    font-size: 1.3rem; }
  .card .cardAction {
    max-width: fit-content;
    margin: 5% auto; }

.lightCard {
  background: #efe5db;
  color: #110f17; }

.cardImg {
  width: auto;
  height: 500px; }

.customText {
  color: #efe5db;
  font-weight: 700;
  text-align: center;
  font-size: 1.3rem;
  padding: 2%; }

.menuItem {
  background-color: #110f17;
  color: #efe5db;
  flex: 1;
  height: 10vh;
  width: 30vw;
  cursor: pointer;
  margin: 0 2%;
  /* For Mozilla Firefox */ }
  .menuItem .itemText {
    max-height: 4vh;
    max-width: max-content;
    margin: auto;
    padding: 0 2%;
    margin-top: 12%;
    text-align: center; }
  .menuItem ::selection {
    color: none;
    background: none; }
  .menuItem ::-moz-selection {
    color: none;
    background: none; }

.button {
  height: 2.5vh;
  width: 18vw;
  background-color: #efe5db;
  color: #110f17;
  padding: 2% 5%;
  cursor: pointer; }
  .button .buttonText {
    max-width: max-content;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: auto;
    font-weight: 700; }

.navMenuBtn {
  display: block;
  position: fixed;
  right: 100px;
  top: 20px;
  opacity: 0;
  z-index: 999;
  transition: 0.5s ease;
  width: 2.5vw; }

.navIcon {
  width: 2.5vw; }

.navMenuBtn.navBtnActive {
  opacity: 1; }

.titleHeader {
  background-color: #110f17;
  padding: 2%;
  width: max-content;
  margin: auto;
  color: #efe5db; }
  .titleHeader .titleText {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .3rem; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #110f17; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #efe5db; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eee4d9; }

.emailSignup {
  background-color: #110f17;
  min-height: 10vh; }
  .emailSignup .emailInput {
    max-width: max-content;
    margin: 5% auto; }
    .emailSignup .emailInput input[type="email"] {
      margin: 12.5% auto;
      height: 3.25vh;
      font-family: "brandon-grotesque";
      font-size: 1.2rem;
      background-color: #efe5db;
      border: none;
      width: 12vw; }
    .emailSignup .emailInput button {
      height: 3.55vh;
      background-color: #efe5db;
      border: none;
      font-family: "brandon-grotesque";
      text-transform: uppercase;
      font-size: 1.2rem; }
    .emailSignup .emailInput img.loader {
      margin: auto;
      height: 15vh;
      width: 10vw;
      background-color: unset; }

.cardText .emailSignupContainer .emailInput {
  max-width: max-content;
  margin: 5% auto; }
  .cardText .emailSignupContainer .emailInput input[type="email"] {
    margin: 12.5% auto;
    height: 3.25vh;
    font-family: "brandon-grotesque";
    font-size: 1.2rem;
    background-color: #efe5db;
    border: none;
    width: 12vw; }
  .cardText .emailSignupContainer .emailInput button {
    height: 3.55vh;
    background-color: #efe5db;
    border: none;
    font-family: "brandon-grotesque";
    text-transform: uppercase;
    font-size: 1.2rem; }
  .cardText .emailSignupContainer .emailInput img.loader {
    margin: auto;
    height: 15vh;
    width: 10vw;
    background-color: unset; }

.emailSignup .emailInput {
  margin-top: 0%; }

.homeMenu {
  display: flex;
  flex-direction: row;
  max-width: 95%;
  margin: auto;
  overflow: hidden; }
  .homeMenu a {
    background-color: #110f17;
    color: #efe5db;
    flex: 1;
    height: 10vh;
    width: 30vw;
    margin: 0 2%;
    cursor: pointer;
    /* For Mozilla Firefox */ }
    .homeMenu a .menuItem {
      width: 100%;
      background-color: unset; }
    .homeMenu a ::selection {
      color: none;
      background: none; }
    .homeMenu a ::-moz-selection {
      color: none;
      background: none; }

.page.order {
  margin-top: 5%; }
  .page.order .pageHeader {
    margin: auto; }
  .page.order .pageBody {
    display: flex;
    flex-direction: row; }
    .page.order .pageBody .card {
      margin: 5% auto;
      max-width: 35vw;
      height: max-content; }
      .page.order .pageBody .card .cardBody {
        height: 45%;
        width: 85%;
        line-height: 1.2rem;
        font-size: 1.2rem;
        margin: 5% auto 0; }
      .page.order .pageBody .card .cardAction {
        width: 20vw;
        margin: 4% auto 5%; }
        .page.order .pageBody .card .cardAction .breakLine {
          margin: 4% auto;
          width: max-content; }

.page.about {
  margin: 5% auto 0;
  min-height: max-content; }
  .page.about .pageHeader {
    margin: auto; }
  .page.about .pageBody {
    display: flex;
    flex-direction: row;
    min-height: max-content; }
    .page.about .pageBody .card {
      margin: 5% auto;
      max-width: 35vw;
      height: max-content; }
      .page.about .pageBody .card .cardBody {
        height: 45%;
        width: 85%;
        line-height: 1.2rem;
        font-size: 1.2rem;
        margin: 5% auto 0; }
      .page.about .pageBody .card .cardAction {
        width: 20vw;
        margin: 4% auto 5%; }
        .page.about .pageBody .card .cardAction .breakLine {
          margin: 4% auto;
          width: max-content; }

.page.author {
  margin: 5% auto 10%; }
  .page.author .pageHeader {
    margin: auto; }
  .page.author .pageBody {
    display: flex;
    flex-direction: row-reverse; }
    .page.author .pageBody .card {
      margin: 5% auto;
      max-width: 35vw;
      height: max-content; }
      .page.author .pageBody .card .cardBody {
        height: 45%;
        width: 85%;
        line-height: 1.2rem;
        font-size: 1.2rem;
        margin: 5% auto 0; }
      .page.author .pageBody .card .cardAction {
        width: 20vw;
        margin: 4% auto 5%; }
        .page.author .pageBody .card .cardAction .breakLine {
          margin: 4% auto;
          width: max-content; }

.success .pageHeader {
  margin-top: 2%; }

.holidayNomineeForm {
  display: flex;
  flex-direction: column; }
  .holidayNomineeForm .formRow {
    min-height: 5vh;
    height: max-content; }
    .holidayNomineeForm .formRow label {
      min-width: 100%;
      min-height: 5vh; }
    .holidayNomineeForm .formRow .nomineeImgBtn {
      border: none; }
      .holidayNomineeForm .formRow .nomineeImgBtn .uploadNomineeImg {
        border: none;
        height: 20px;
        width: auto; }
    .holidayNomineeForm .formRow input {
      margin: 1%;
      font-family: "brandon-grotesque";
      border: none;
      margin-left: auto;
      margin-right: 0;
      width: 100%; }
    .holidayNomineeForm .formRow input[type="file"] {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
    .holidayNomineeForm .formRow .inputfile + label {
      font-size: 1.25em;
      font-weight: 700;
      color: #efe5db;
      background-color: #110f17;
      padding: 0.5% 5%;
      height: 10vh;
      min-width: 100%;
      transition: 0.5s ease;
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px; }
    .holidayNomineeForm .formRow .inputfile:focus + label,
    .holidayNomineeForm .formRow .inputfile + label:hover {
      background-color: #282336; }
    .holidayNomineeForm .formRow textarea {
      border: none;
      margin: 1%;
      font-family: "brandon-grotesque";
      border: none;
      margin-left: auto;
      margin-right: 0;
      width: 100%; }
  .holidayNomineeForm .sectionSplit {
    margin: 5% auto; }

.submitBtn {
  max-width: max-content;
  margin: 0 auto; }
  .submitBtn button {
    font-family: "brandon-grotesque";
    border: none;
    background-color: #110f17;
    color: #efe5db;
    height: 4vh;
    transition: 0.5s ease;
    width: 10vw; }
  .submitBtn button:hover {
    background-color: #282336; }

.page.holiday .pageHeader {
  margin: auto; }

.page.holiday .pageBody {
  display: flex;
  flex-direction: row; }
  .page.holiday .pageBody .card {
    margin: 5% auto;
    max-width: 35vw;
    height: max-content; }
    .page.holiday .pageBody .card .cardBody {
      height: 45%;
      width: 85%;
      line-height: 1.2rem;
      font-size: 1.2rem;
      margin: 5% auto 0; }
    .page.holiday .pageBody .card .cardAction {
      width: 20vw;
      margin: 4% auto 5%; }
      .page.holiday .pageBody .card .cardAction .breakLine {
        margin: 4% auto;
        width: max-content; }

.pageContainer {
  min-height: 100vh;
  width: 100vw;
  margin: auto;
  overflow: auto;
  overflow-x: hidden; }

.page {
  min-height: 90vh;
  width: 100vw;
  overflow-x: hidden; }

.pageContainer .navMenuContainer {
  top: 50px;
  height: 75vh;
  z-index: 998;
  position: fixed;
  transition: 0.5s ease;
  background-color: #110f17; }
  .pageContainer .navMenuContainer .menuItem {
    margin: unset;
    height: 5vh; }

.pageContainer .navMenuContainer.hiddenNav {
  top: 50px;
  right: -1000px; }

.pageContainer .navMenuContainer.activeNav {
  top: 50px;
  right: 100px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .pageContainer .pageHeader .cardImg.bookImg {
    height: 300px;
    width: auto; }
  .pageContainer .pageBody .homeMenu {
    flex-direction: column; }
    .pageContainer .pageBody .homeMenu a {
      margin: 0;
      width: 100%; }
  .navMenuBtn {
    right: 25px;
    background-color: #110f17;
    padding: 2.5%;
    border-radius: 100px;
    width: max-content; }
    .navMenuBtn .navIcon {
      width: 7vw;
      height: 7vw; }
  ::-webkit-scrollbar {
    display: none; }
  .emailSignup {
    margin: 5% 0;
    height: 25vh; }
    .emailSignup .emailInput {
      width: 100%;
      margin: none; }
      .emailSignup .emailInput .emailContainer {
        margin: 5% 0; }
        .emailSignup .emailInput .emailContainer input[type="email"] {
          font-family: "brandon-grotesque";
          font-size: 1.2rem;
          background-color: #efe5db;
          border: none;
          margin: 2% auto;
          width: 100%; }
        .emailSignup .emailInput .emailContainer button {
          height: 5vh;
          width: 100%;
          margin: 5% auto; }
  .page.about .pageBody {
    flex-direction: column; }
    .page.about .pageBody .card {
      max-width: 95vw; }
      .page.about .pageBody .card .cardImg {
        height: 300px;
        width: auto; }
      .page.about .pageBody .card .cardBody {
        font-size: 1rem; }
      .page.about .pageBody .card .cardAction {
        width: 45vw; }
        .page.about .pageBody .card .cardAction a .button {
          width: 45vw; }
  .page.author .pageBody {
    flex-direction: column; }
    .page.author .pageBody .card {
      max-width: 95vw; }
      .page.author .pageBody .card .cardImg {
        height: 300px;
        width: auto; }
      .page.author .pageBody .card .cardBody {
        font-size: 1rem; }
      .page.author .pageBody .card .cardAction {
        width: 45vw; }
        .page.author .pageBody .card .cardAction a .button {
          width: 45vw; }
  .page.order .pageBody {
    overflow: hidden;
    flex-direction: column; }
    .page.order .pageBody .card {
      max-width: 95vw; }
      .page.order .pageBody .card .cardImg {
        height: 300px;
        width: auto; }
      .page.order .pageBody .card .cardBody {
        font-size: 1rem; }
      .page.order .pageBody .card .cardAction {
        width: 85vw;
        margin: 5% auto; }
        .page.order .pageBody .card .cardAction .breakLine {
          font-size: 0.7rem; }
        .page.order .pageBody .card .cardAction .button {
          width: 65vw; }
          .page.order .pageBody .card .cardAction .button .buttonText {
            font-size: 0.8rem; }
  .page.holiday .pageHeader .titleText {
    font-size: 1.3rem; }
  .page.holiday .pageBody {
    flex-direction: column; }
    .page.holiday .pageBody .card {
      max-width: 95vw; }
      .page.holiday .pageBody .card .cardImg {
        height: 300px;
        width: auto; }
      .page.holiday .pageBody .card .cardBody {
        font-size: 1rem;
        margin: auto; }
      .page.holiday .pageBody .card .cardAction {
        width: 85vw;
        margin: 5% auto; }
        .page.holiday .pageBody .card .cardAction .breakLine {
          font-size: 0.7rem; }
        .page.holiday .pageBody .card .cardAction .button {
          width: 65vw; }
          .page.holiday .pageBody .card .cardAction .button .buttonText {
            font-size: 0.8rem; }
  .titleHeader .titleText {
    font-size: 1.65rem;
    font-weight: 700;
    letter-spacing: 0.1rem; }
  .submitBtn button {
    margin: 5% 0;
    height: 5vh;
    width: 45vw; }
  .formRow {
    min-height: 10vh; }
  .pageContainer .navMenuContainer {
    width: 100%;
    top: 50px;
    height: 100%;
    z-index: 998;
    position: fixed;
    transition: 0.5s ease;
    background-color: #110f17; }
    .pageContainer .navMenuContainer .navMenu {
      min-height: 99vh;
      margin: 15% auto; }
      .pageContainer .navMenuContainer .navMenu .menuItem {
        height: min-content;
        width: 75vw;
        margin: 20% auto; }
        .pageContainer .navMenuContainer .navMenu .menuItem .itemText {
          max-height: 10vh; }
  .pageContainer .navMenuContainer.hiddenNav {
    top: 0px;
    right: -1000px; }
  .pageContainer .navMenuContainer.activeNav {
    top: 0px;
    right: 0px; } }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .pageContainer .pageHeader .cardImg.bookImg {
    height: 500px;
    width: auto; }
  .pageContainer .pageBody .homeMenu {
    flex-direction: column; }
    .pageContainer .pageBody .homeMenu a {
      margin: 0;
      width: 100%; }
      .pageContainer .pageBody .homeMenu a .menuItem {
        font-size: 2rem; }
  .navMenuBtn {
    right: 25px;
    background-color: #110f17;
    padding: 2.5%;
    border-radius: 100px;
    width: max-content; }
    .navMenuBtn .navIcon {
      width: 7vw;
      height: 7vw; }
  ::-webkit-scrollbar {
    display: none; }
  .emailSignup {
    margin: 5% 0;
    height: 25vh; }
    .emailSignup .customText {
      font-size: 2rem; }
    .emailSignup .emailInput {
      width: 100%;
      margin: none; }
      .emailSignup .emailInput .emailContainer {
        margin: 5% 0; }
        .emailSignup .emailInput .emailContainer input[type="email"] {
          font-family: "brandon-grotesque";
          font-size: 1.4rem;
          background-color: #efe5db;
          border: none;
          margin: 2% auto;
          width: 100%; }
        .emailSignup .emailInput .emailContainer button {
          height: 5vh;
          width: 100%;
          margin: 5% auto; }
  .page.about .pageBody {
    flex-direction: column; }
    .page.about .pageBody .card {
      max-width: 95vw; }
      .page.about .pageBody .card .cardImg {
        height: 300px;
        width: auto; }
      .page.about .pageBody .card .cardBody {
        font-size: 1.3rem; }
      .page.about .pageBody .card .cardAction {
        width: 45vw; }
        .page.about .pageBody .card .cardAction a .button {
          width: 45vw; }
      .page.about .pageBody .card .cardText {
        font-size: 1.5rem;
        line-height: 1.5rem; }
  .page.author .pageBody {
    flex-direction: column; }
    .page.author .pageBody .card {
      max-width: 95vw; }
      .page.author .pageBody .card .cardImg {
        height: 300px;
        width: auto; }
      .page.author .pageBody .card .cardBody {
        font-size: 1rem; }
      .page.author .pageBody .card .cardAction {
        width: 45vw; }
        .page.author .pageBody .card .cardAction a .button {
          width: 45vw; }
      .page.author .pageBody .card .cardText {
        font-size: 1.5rem;
        line-height: 1.5rem; }
  .page.order .pageBody {
    overflow: hidden;
    flex-direction: column; }
    .page.order .pageBody .card {
      max-width: 95vw; }
      .page.order .pageBody .card .cardImg {
        height: 300px;
        width: auto; }
      .page.order .pageBody .card .cardBody {
        font-size: 1rem; }
      .page.order .pageBody .card .cardAction {
        width: 85vw;
        margin: 5% auto; }
        .page.order .pageBody .card .cardAction .breakLine {
          font-size: 0.7rem; }
        .page.order .pageBody .card .cardAction .button {
          width: 65vw; }
          .page.order .pageBody .card .cardAction .button .buttonText {
            font-size: 0.8rem; }
      .page.order .pageBody .card .cardText {
        font-size: 1.5rem;
        line-height: 1.5rem; }
  .page.holiday .pageHeader .titleText {
    font-size: 1.3rem; }
  .page.holiday .pageBody {
    flex-direction: column; }
    .page.holiday .pageBody .card {
      max-width: 95vw; }
      .page.holiday .pageBody .card .cardImg {
        height: 300px;
        width: auto; }
      .page.holiday .pageBody .card .cardBody {
        font-size: 1rem;
        margin: auto; }
      .page.holiday .pageBody .card .cardAction {
        width: 85vw;
        margin: 5% auto; }
        .page.holiday .pageBody .card .cardAction .breakLine {
          font-size: 0.7rem; }
        .page.holiday .pageBody .card .cardAction .button {
          width: 65vw; }
          .page.holiday .pageBody .card .cardAction .button .buttonText {
            font-size: 0.8rem; }
      .page.holiday .pageBody .card .cardText {
        font-size: 1.5rem;
        line-height: 1.5rem; }
  .titleHeader .titleText {
    font-size: 1.65rem;
    font-weight: 700;
    letter-spacing: 0.1rem; }
  .submitBtn button {
    margin: 5% 0;
    height: 5vh;
    width: 45vw; }
  .formRow {
    min-height: 10vh; }
  .pageContainer .navMenuContainer {
    width: 100%;
    top: 50px;
    height: 100%;
    z-index: 998;
    position: fixed;
    transition: 0.5s ease;
    background-color: #110f17; }
    .pageContainer .navMenuContainer .navMenu {
      min-height: 99vh;
      margin: 15% auto; }
      .pageContainer .navMenuContainer .navMenu .menuItem {
        height: min-content;
        width: 75vw;
        margin: 20% auto; }
        .pageContainer .navMenuContainer .navMenu .menuItem .itemText {
          max-height: 10vh; }
  .pageContainer .navMenuContainer.hiddenNav {
    top: 0px;
    right: -1000px; }
  .pageContainer .navMenuContainer.activeNav {
    top: 0px;
    right: 0px; } }

/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
/* Large screens ----------- */
/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .navbarContainer .navbarMenuBtnContainer {
    margin-top: 5%;
    margin-left: 80%; }
  .navbarMenuContainer.active {
    right: 0;
    top: 15vh;
    height: 85vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  .navbarMenuContainer.hidden {
    right: -500px;
    top: 15vh;
    height: 85vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  .cardHeader {
    margin-top: 5%;
    max-height: 10vh; }
    .cardHeader .cardHeaderText {
      font-size: 1.3rem; }
  .subtitleCard .subtitleText {
    font-size: 0.9rem; }
  .cardBody {
    margin-top: 5%;
    max-height: fit-content;
    max-width: 85%; }
    .cardBody .cardBodyText {
      font-size: 1rem; }
  .horizNavMenu {
    flex-direction: column;
    max-height: 70vh !important; }
    .horizNavMenu .navMenuItemContainer {
      margin-top: 10%; }
  .preorderPage .cardHeader .cardHeaderText {
    font-size: 1.4rem; }
  .preorderPage .subtitleCard {
    max-height: 20vh;
    padding: 0 1%; }
    .preorderPage .subtitleCard .subtitleText {
      font-size: 0.9rem; }
  .preorderPage .cardBody.flexRow {
    max-height: 60vh;
    flex-direction: column !important; }
    .preorderPage .cardBody.flexRow .checkoutSectionContainer {
      height: max-content; }
      .preorderPage .cardBody.flexRow .checkoutSectionContainer .bookSideInfoContainer {
        height: max-content; }
        .preorderPage .cardBody.flexRow .checkoutSectionContainer .bookSideInfoContainer .bookSideInfoText {
          font-size: 1rem; }
        .preorderPage .cardBody.flexRow .checkoutSectionContainer .bookSideInfoContainer .buyNowBtn {
          width: 50vw; }
    .preorderPage .cardBody.flexRow .bookImageContainer {
      width: auto;
      height: 30vh;
      margin: auto; }
  .aboutPageContainer {
    flex-direction: column !important;
    overflow-y: auto;
    max-height: 75vh;
    padding-bottom: 2%; }
    .aboutPageContainer .bookImageContainer {
      max-height: fit-content;
      margin: auto; }
      .aboutPageContainer .bookImageContainer img {
        width: auto;
        max-height: 30vh; }
    .aboutPageContainer .cardContentContainer {
      flex-direction: column; }
      .aboutPageContainer .cardContentContainer .emphasisText {
        font-size: 1.7rem !important;
        text-align: center; }
  .modalCurtain {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transition: 0.5s ease;
    flex-direction: column; }
    .modalCurtain .modalContainer {
      flex-direction: column;
      margin: auto;
      max-width: 100vw;
      min-height: 65vh; }
      .modalCurtain .modalContainer div {
        margin: auto;
        min-width: 60%;
        max-height: 5vh; }
        .modalCurtain .modalContainer div input[type="email"] {
          min-width: 75%;
          font-family: "brandon-grotesque";
          font-size: 1.2rem;
          border: none;
          background-color: #1c1926;
          color: #e7d8c9; }
        .modalCurtain .modalContainer div button {
          font-family: "brandon-grotesque";
          text-transform: uppercase;
          font-weight: 700;
          background-color: #efe5db;
          border: none;
          font-size: 1.2rem; }
    .modalCurtain .modalCloseImgContainer {
      max-height: 15vw; }
      .modalCurtain .modalCloseImgContainer .modalCloseImg {
        margin-left: auto;
        margin-right: 5vw;
        margin-top: 1%;
        width: 5vw; }
  .modalCurtain.active {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0; }
  .modalCurtain.inactive {
    position: absolute;
    top: -100vh; } }

/* Glaxay Fold (landscape)----------- */
